div{

    border: 1px solid lightgray;
    padding: 15px;
    box-shadow: 5px 10px;
    border-radius: 20px;
    margin: 0 auto;
    
    width: 300px;
    height: 750px;
    display: flex;
    display: flexbox;
    align-content: center;
}

h3{
    width: 300px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    
}



ul {
width: 300px;
height: 150px;
display: flex;
flex-wrap: wrap;
list-style-type:none;
margin: 5px;
align-content: center;



}

p{
    text-align: center;
}

span{
    text-align: center;
}

li {
    list-style-type:none;
    
    

}
.container{
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
    display: flex;
    


}
.Kenji{
    width: 300px;
    height: 200px;
    padding: 10px;
    background: url(IMG_1219.jpg);
    background-size: cover;
    align-content: center;
    display: flex;
}
